@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  position: relative;
  word-spacing: 2px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg.jpg);
  height: 90vh;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  /* for circle */
  position: relative;
  overflow: hidden;
}

header #circle {
  border-radius: 50%;
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 80vh;
  background-color: white;
}

header #intro {
  text-align: center;
}

header #intro h2 {
  margin-bottom: 0.5rem;
}

header #intro p {
  color: rgb(199, 198, 198);
  font-weight: 300;
  margin-bottom: 2rem;
}

header #intro #icons i {
  padding: 0.6rem;
  border-radius: 50%;
  background-color: rgb(90, 90, 90);
}

header #intro #icons input[type="file"] {
  display: none;
}

main {
  background-color: white;
  color: rgb(19, 19, 19);
  padding-bottom: 1rem;
}

#input-section {
  padding: 1rem;
  width: 80%;
  margin: auto;
}

#input-section h1 {
  margin-bottom: 1rem;
}

#input-section p {
  word-spacing: 3px;
}

#input-section form input[type="number"] {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid #1a53ff;
  font-weight: 700;
}

#input-section form input[type="submit"] {
  display: block;
  width: calc(100% + 54px);
  transform: translateX(-27px);
  margin-top: 2rem;
  padding: 0.8rem;
  border-radius: 1.8rem;
  border: none;
  background-color: #1a53ff;
  color: white;
}

#sticker {
  background-color: rgb(211, 210, 210);
  width: 53%;
  margin: auto;
  padding: 1.3rem;
  position: relative;
  border-radius: 2.3rem;
  word-spacing: 3px;
  margin-top: 1.1rem;
}

#sticker p {
  font-weight: 700;
  text-align: center;
}

#sticker i {
  position: absolute;
  right: 0.5rem;
  top: -0.5rem;
  padding: 0.5rem;
  background-color: rgb(19, 19, 19);
  color: white;
  border-radius: 50%;
}

#output-section {
  text-align: center;
}

#output-section p span {
  color: #1a53ff;
  font-weight: 700;
}

#output-section #written-portion {
  width: 70%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#output-section h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

#output-section #written-portion p {
  margin-bottom: 1rem;
}

#output-section #written-portion #note {
  font-size: 0.7rem;
  color: rgb(102, 101, 101);
}

#output-section #camera-portion h3,
#output-section #camera-portion p {
  width: 80%;
  margin: auto;
}

#output-section #camera-portion p {
  width: 60%;
  font-size: 1.2rem;
}

#output-section #camera-portion #image-output {
  width: 100%;
  height: auto;
  background-color: rgb(211, 210, 210);
  margin: 1rem 0 2rem 0;
}

#output-section #camera-portion #image-output img {
  width: 100%;
}

#check-friends {
  background-color: rgb(22, 22, 22);
  color: white;
  width: 75%;
  margin: auto;
  padding: 1.3rem 4rem;
  position: relative;
  border-radius: 2.4rem;
  word-spacing: 3px;
  margin-top: 2.5rem;
  text-align: center;
}

#check-friends i {
  position: absolute;
  right: 1.2rem;
  top: 2rem;
}

/**************************************
****** MODAL ******/

@keyframes blowUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  z-index: 100;
}

#modal div {
  width: 60%;
  height: 8rem;
  background-color: white;
  color: rgb(31, 31, 31);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 40%;
  left: 20%;

  animation: blowUp 1.2s ease-in-out 1;
}

#modal div i {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid #1a53ff;
  color: #1a53ff;
  border-radius: 50%;
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  transform: rotate(-30deg);
}
